<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <center>
              <h3> Gerenciamento de páginas</h3>
            </center>
            <div class="card-body">
              <center>
              <a href="/manager_panel/managepage/add"><button class="btn btn-info mt-1">Adicionar página</button></a>
              <a href=""><button class="btn btn-info mt-1">Baixar todos os QRCodes</button></a>
              </center>
              <hr class="">
              {{#if pages}}
              {{#each pages}}
                        <h3>{{title}}</h3>
                        <small>{{excerpt content 300}}</small>
                        <br>
                        <br>
                        <div class="row">
                          <div class="col-xs-4">
                            <a href="/manager_panel/managepage/edit/{{_id}}/download"><button class="btn btn-info btn-spacey btn-space">Baixar o QRCode</button></a>
                          </div>
                            <div class="col-xs-4">
                          <a href="/manager_panel/managepage/edit/{{_id}}"><button class="btn btn-info btn-space">Editar</button></a>
                          </div>
                          <div class="col-xs-4">
                          <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Apagar Página</button>
                          </div>
                        </div>
                          <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content text-white bg-dark mb-3">
                                <div class="modal-header">
                                  <h4>Deseja realmente apagar esta página?</h4>
                                </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="">
                                        <form action="/manager_panel/managepage/delete" method="POST">
                                          <input type="hidden" name="id" value="{{_id}}">
                                          <input type="hidden" name="image" value="{{image}}">
                                          <input type="hidden" name="title" value="{{title}}">
                                          <button class="btn btn-danger btn-spacey btn-space">Apagar página</button>
                                        </form>
                                      </div>
                                      <div class="">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Não, mudei de ideia</button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        <hr>
              {{/each}}
              {{else}}
              <h4>Nenhuma página cadastrada!</h4>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>